<launch>

	<param name="robot_description" command="cat $(find invio)/urdf/sensorRig1_description.urdf" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="m7_state_pub" >
      
    </node>
    
    <node name="invio" pkg="invio" type="invio_node" output="screen">

	<rosparam command="load" file="$(find invio)/params/test.yaml" />

    </node>
    
    <node pkg="rviz" type="rviz" name="invio_rviz" args="-d $(find invio)/rviz/invio.rviz"/>

</launch>
