<launch>

	<param name="robot_description" command="cat $(find pauvsi_vio)/urdf/sensorRig1_description.urdf" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="m7_state_pub" >
      
    </node>
    
    <node name="invio" pkg="invio" type="invio_node" output="screen">
    </node>

</launch>